# CHAVES DO STRIPE (Pagamentos)
# Crie uma conta em stripe.com, ative o Modo de Teste e pegue essas chaves na aba "Desenvolvedores".
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_sua_chave_publica_aqui
STRIPE_SECRET_KEY=sk_test_sua_chave_secreta_aqui

# URL DO SITE
NEXT_PUBLIC_BASE_URL=http://localhost:3000
